<header class="relative">
  <div class="flex flex-row w-full h-16 items-center px-4 md:px-10">
    <div class="flex-1">
      <a routerLink="/" class="font-merriweather text-xl md:text-[35px] cursor-pointer md:text-justify">
        João Victor Alves da Silva
      </a>
    </div>

    <div class="flex items-center mr-2">
      <span (click)="onToggleTheme()" class="material-symbols-outlined text-2xl cursor-pointer">
        @if (getTheme()) {
          dark_mode
        }@else{
          light_mode
        }
      </span>
    </div>

    <nav class="hidden md:flex gap-2.5 items-center">
      <a routerLink="/"
         routerLinkActive="text-text-select bg-selected-color"
         [routerLinkActiveOptions]="{exact: true}"
         class="text-xl font-roboto cursor-pointer p-3 hover:bg-hover font-semibold">Sobre mim</a>
      <a routerLink="/professional"
         routerLinkActive="text-text-select bg-selected-color"
         class="text-xl font-roboto cursor-pointer p-3 hover:bg-hover font-semibold">Experiências profissionais</a>
      <a routerLink="/contact"
         routerLinkActive="text-text-select bg-selected-color"
         class="text-xl font-roboto cursor-pointer p-3 hover:bg-hover font-semibold">Contato</a>
    </nav>
    <!-- Hamburguer -- Mobile only-->
    <button class="flex md:hidden ml-2 transition-transform duration-300"
            [class.rotate-90]="menuOpen"
            (click)="toggleMenu()">
  <span class="material-symbols-outlined text-3xl cursor-pointer">
    {{ menuOpen ? 'close' : 'menu' }}
  </span>
    </button>

  </div>
  @if (menuOpen){
    <nav class="absolute top-16 left-0 w-full flex flex-col md:hidden px-4 pb-4 gap-2
              bg-selected-color shadow-lg z-50">
      <a routerLink="/" routerLinkActive="text-text-select bg-selected-color"
         [routerLinkActiveOptions]="{exact: true}"
         (click)="toggleMenu()"
         class="text-lg font-roboto p-3 hover:bg-hover font-semibold text-center">Sobre mim</a>
      <a routerLink="/professional" routerLinkActive="text-text-select bg-selected-color"
         [routerLinkActiveOptions]="{exact: true}"
         (click)="toggleMenu()"
         class="text-lg font-roboto p-3 hover:bg-hover font-semibold text-center">Experiências profissionais</a>
      <a routerLink="/contact" routerLinkActive="text-text-select bg-selected-color"
         [routerLinkActiveOptions]="{exact: true}"
         (click)="toggleMenu()"
         class="text-lg font-roboto p-3 hover:bg-hover font-semibold text-center">Contato</a>
    </nav>
  }
</header>
