@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@1,18..144,87..112,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
  --font-merriweather: "Merriweather", serif;
  --font-roboto: "Roboto", sans-serif;
  --color-text-select: var(--color-text-select);
  --color-hover: var(--color-hover);
  --color-selected-color: var(--color-selected-color);

}


:root{
  --color-primary: #262624;
  --color-secondary: #30302E;
  --color-text: #C2C0B6;
  --color-text-select: #ffffff;
  --color-hover: #1F1E1D;
  --color-selected-color: #141413;
}

body.light-theme{
  --color-primary: #FAF9F5;
  --color-secondary: #FFFFFF;
  --color-text: #3D3D3A;
  --color-text-select: #000000;
  --color-hover: #F5F4ED;
  --color-selected-color: #F0EEE6;
}

body {
  background-color: var(--color-primary);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}


