@import "tailwindcss";

:root{
  --color-primary: #262624;
  --color-secondary: #30302E;
  --color-text: #C2C0B6;
}

body.light-theme{
  --color-primary: #FAF9F5;
  --color-secondary: #FFFFFF;
  --color-text: #3D3D3A;
}

body {
  background-color: var(--color-primary);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}
